.drawersetup{
    display: flex;
}
.buttonlist{
    background-color: #fff;
    border: none;
    font-size: 20px;
    height: 39px;
    width: 175px;
    display: flex;
    white-space: nowrap;
    padding-left: 4px;
    color: rgba(0, 0, 0, 0.54);
   text-align: center;
}
.buttonlist:focus{background-color:#fff;
border: none;
box-sizing: unset;}
.listset{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 90px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3f51b5;;
    color: white;
  }