.form-alignments{
    height: 15px;
      border: 1px solid #e0e7ff;
      border-radius: 5px;
      background-color: rgba(224, 231, 255, 0.2);
      padding: 18px 12px;
      outline: 0 !important;
      display: block;
      align-items: center;
      width: 30%;
      font-size: 10px;
      line-height: 1.42857143;
      color: #555;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .selectset{
      display: flex;
      
  }
  .signup{
      background-color: #ffff;
  }
  .signupset{

  }