.form-alignment{
  height: 40px;
    border: 1px solid #e0e7ff;
    border-radius: 5px;
    background-color: rgba(224, 231, 255, 0.2);
    padding: 18px 12px;
    outline: 0 !important;
    display: inline-block;
    align-items: center;
    width: 30%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.col-75{
  padding-top: 10px;
  padding-bottom: 10px;
}
.buttonstyle{
  background-color: #3f51b5;;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    min-width: 140px;
    padding: 10px 8px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 21px;
    outline: 0;
    border: 1px solid #3f51b5;;
    font-size: 13px;
    cursor: pointer;
}
.line{
  color: #ffffff;
  text-decoration: none;
}